body {
    background-color: #101418;
    background-image: radial-gradient(circle, #23282e 0%, rgba(35, 40, 46, 0.5) 15%, #101418 95%), url(/noise.png);
    color: rgb(230, 230, 230);
    overflow-y: scroll;
}

.hide {
    display: none !important;
}

.blur {
    color: transparent;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}